$background: #ffffff
$background-button: #ffffff

$text-primary: #4E5859
$text-secondary: #a0aec0
$text-terciary: #3E3F42
$text-button: #7b8ba0
$text-label: #a0aec0

$border-default: #E1E8EB
$border-primary: #C9D0DF
$border-secondary: #D4DAE4
$border-button: $border-default

$red: #e74c3c
$green: #48bb78
