<div class="stream-item">
  <div class="columns">
    <div class="column is-6">
      <div class="column-content justify-center flex-column">
        <span class="label">Identifier</span>
        <span class="column-text">{{ stream?.key }}</span>
      </div>
    </div>
    <div class="column is-2">
      <div class="column-content justify-center flex-column">
        <span class="label">Subscribers</span>
        <span class="column-text">{{ stream?.subscribers }}</span>
      </div>
    </div>
    <div class="column is-4">
      <div class="column-content justify-end">
        <button type="button" class="button is-small" (click)="openVideoModal()">
          <span>Live Stream</span>
        </button>
      </div>
    </div>
  </div>
</div>
